
 .about{
    background-color: #3f4953;
    margin-bottom: 50px;
   }
  
@media screen and (max-width: 738px) {
   .about{
    background-color: lightskyblue;
    width: 100vw;
   }
   .info{
      width: 100vw;
   }
  }
  @media screen and (max-width: 360px) {
   .about{
      width: 100%;
   }
  }
