.avatar{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}@media screen and (max-width: 770px) {
    .profile{
     background-color: lightskyblue;
     width: 100%;
     position: fixed;
    }
   }
   .designation{
      animation-duration: 4s;
      animation-name: sliden;
      animation-iteration-count: infinite;
      animation-direction:alternate-reverse;
   }
   .name{
    animation: name 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }

   @keyframes sliden{
    from
    {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
   }
   @keyframes name{
    from
    {
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
   }
   